drafts
man
bin
lib
cache
.doit.db
.doit.db.db
.venv
__pycache__
*.pyc
www
output
etc
share
include
nikolaserve.pid
*.py[cod]
nikola-themes
pip-selfcheck.json
.ipynb_checkpoints
state_data.json
nikola
venv